################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Intercom.Core
/Intercom.Core/bin
/Intercom.Core/obj
/note.txt
/Intercom.Core/Properties/PublishProfiles/FolderProfile.pubxml.user
